body {
  background:#bdc0c5;
  color:black;
  font-family:sans-serif;
  padding:0;
  margin:0;
  width:100%;
  height:100%;
  /* background-color: #282c34;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
p {
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: .375rem .75rem;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  margin: 10px 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.app-header {
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:8px 12px;
  background:#965015;
  background-image:linear-gradient(
  to bottom,
    rgba(200, 150, 77, 1) 0%,
    rgba(200, 150, 77, 0) 15%,
    rgba(200, 150, 77, 0) 85%,
    rgba(200, 150, 77, 1) 100%
  );
  text-shadow:1px 1px black;
}

.app-header-plus,
.app-header-settings {
  display:flex;
  justify-content:center;
  align-items:center;
  border:1px solid black;
  padding:6px 8px;
  border-radius:6px;

  /* &:hover {
    cursor:pointer;
  } */

}

img {
  width:14px;
  height:14px;
}

.app-header-title {
  color:#f0bf84;
  font-size:17px;
}